<h1>Restaurant information</h1>

<div>
<hr>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h3>Reviews</h3>
<hr>
<% @restaurant.reviews.each do |review| %>
  <span>Rating: <%= '⭐️'* review.rating %>  <br></span>
  <span>Content: <%= review.content %> <br></span>
  <hr>
<% end  %>


</div>

<button class = "btn btn-dark"><%= link_to "Back", restaurants_path %></button>
<button class = "btn btn-dark"><%= link_to "Edit", edit_restaurant_path(@restaurant) %></button>
<button class = "btn btn-dark"><%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %></button>
<button class = "btn btn-dark"><%= link_to "Write review", new_restaurant_review_path(@restaurant) %></button>
